a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.vertical-tab {
    display: table;
    font-family: 'Nunito', sans-serif;
}

.vertical-tab .nav-tabs {
    border: none;
    display: table-cell;
    /*  width: 28%;*/
    min-width: 28%;
    vertical-align: top;
}

.vertical-tab .nav-tabs li {
    float: none;
    vertical-align: top;
}

.vertical-tab .nav-tabs li a {
    border: none;
    border-radius: 0;
    color: #222;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    padding: 12px 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
    z-index: 1;
}

.vertical-tab .nav-tabs li:last-child a { margin-bottom: 0; }

.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover {
    background-color: #fff;
    border: none;
    color: #222;
}

.vertical-tab .nav-tabs li a:before,
.vertical-tab .nav-tabs li a:after {
    background-color: #d1d1d1;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 11px;
    z-index: -1;
}

.vertical-tab .nav-tabs li a:hover:before,
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li.active a:hover:before {
    opacity: 0;
    width: 50%;
}

.vertical-tab .nav-tabs li a:after {
                
    opacity: 0;
    width: 50%;
}

.vertical-tab .nav-tabs li a:hover:after,
.vertical-tab .nav-tabs li.active a:after,
.vertical-tab .nav-tabs li.active a:hover:after {
    opacity: 1;
    width: 11px;
}

.vertical-tab .tab-content {
    background: #fff;
    color: #222;
    display: table-cell;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-top: 10px;
    padding: 20px 20px 10px;
    position: relative;
    width: 100%;
}

.vertical-tab .tab-content h3 {
    color: #222;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
    text-transform: uppercase;
}

@media only screen and (max-width: 479px) {
    .vertical-tab .nav-tabs {
        border: none;
        display: block;
        width: 100%;
    }

    .vertical-tab .tab-content {
        display: block;
        margin-top: 0;
        padding: 25px 20px;
    }

    .vertical-tab .tab-content h3 { font-size: 18px; }
}