#ranks {
    display: flex;
    padding-top: 25px;
}

input[type="checkbox"] {
    height: 0;
    left: -9999px;
    position: absolute;
    top: -9999px;
    visibility: hidden;
    width: 0;
}

label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: .5rem;
    text-align: center;
}

label.rankChecked { color: gold !important; }

.rateTitle {
    color: gray;
    display: inline-block;
    font-size: 0.85em;
    padding: 0 0 0 0.7em;
}